<div class="">
  <h1>Donut Index</h1>

  <% @donuts.each do |donut| %>
  <ul>
    <h3><%= donut.name %></h3>
    <h4><%= donut.shop.name %></h4>
    <h6><%= donut.category.name %></h6>
  </ul>

  <% end %>

</div>
